<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-md-8 text-center">
      <h1>All Versions</h1>
      <p>
        A listing of all the versions of the DSM City Council Procedural Rules.
      </p>
      <table class="table">
        <thead>
        <tr>
          <th>Icon</th>
          <th>Meaning</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><i class="fa fa-file-text"></i></td>
          <td>Notes available</td>
        </tr>
        <tr>
          <td><i class="fa fa-hourglass-half"></i></td>
          <td>Research in progress</td>
        </tr>
        <tr>
          <td><i class="fa fa-ban"></i></td>
          <td>Notes not available</td>
        </tr>
        <tr>
          <td><i class="fa fa-star"></i></td>
          <td>Current version</td>
        </tr>
        <tr>
          <td><i class="fa fa-calendar-o"></i></td>
          <td>Proposed future version</td>
        </tr>
        <tr>
          <td><i class="fa fa-folder-open-o"></i></td>
          <td>Missing information</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <ul class="list-group">
        <ng-container *ngFor="let version of VERSIONS">
          <a href="/#/version/{{version.versionNumber}}">
            <li class="list-group-item">
              <app-version-title [version]="version">
              </app-version-title>
              <span class="pull-right">
              <i class="fa fa-star mr-2" *ngIf="version.current"></i>
              <i class="fa fa-calendar-o mr-2" *ngIf="version.future"></i>
              <i class="fa fa-hourglass-half mr-2" *ngIf="version.researchInProgress"></i>
              <i class="fa fa-folder-open-o mr-2" *ngIf="version.missingInfo"></i>
              <i class="fa fa-file-text mr-2" *ngIf="version.showNotes"></i>
              <i class="fa fa-ban mr-2" *ngIf="!version.showNotes"></i>
              </span>
            </li>
          </a>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
