<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="ready; else loading">
        <div class="my-3">
          <section id="agenda-extensions" *ngIf="isRulesArchive">
            <p>
              Version {{versionNumber}} Options |
              <a [href]="versionOverviewUrl">To Version Overview</a>
            </p>
            <hr>
          </section>
          <markdown [src]="fullPath"></markdown>
          <section id="disclaimer">
            <hr>
            <markdown [src]="disclaimerMarkdownPath"></markdown>
          </section>
          <section id="file-options">
            <hr>
            <p>
              File Options
            </p>
            <p>
              <a [attr.href]="fullPath" target="_blank">
                View Raw Text (in Markdown Format)
              </a>
              <!--                TODO more viewing options -->
              <!--                | View Raw HTML | Export as PDF | Export as MD | Export as HTML | Export as EPUB-->
            </p>
          </section>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
