<ng-container>
  <div class="row my-3">
    <div class="col-md-12 mb-3">
      <app-version-nav [version]="version"></app-version-nav>
    </div>
    <div class="col-md-12">
      <h2>
        <app-version-title [version]="version"></app-version-title>
        <small *ngIf="version.current">Current Version</small>
      </h2>
      <hr>
    </div>
    <div class="col-md-12" *ngIf="!version.showNotes">
      <div class="alert alert-warning">
        Sorry, notes for version {{version.versionNumber}} are not yet available.
        Check back later for more information.
      </div>
    </div>
    <div class="col-md-12" *ngIf="version.researchInProgress">
      <div class="alert alert-info">
        We're still researching version {{version.versionNumber}}.
        Check back later for more information.
      </div>
    </div>
    <div class="col-md-12" *ngIf="version.showNotes">
      <markdown [src]="infoPath"></markdown>
    </div>
    <div class="col-md-12" *ngIf="version.missingInfo">
      <hr>
      <markdown [src]="missingInfoMarkdownPath"></markdown>
    </div>
    <div class="col-md-12">
      <hr>
      <markdown [src]="disclaimerMarkdownPath"></markdown>
    </div>
  </div>
</ng-container>
