<ng-container>
  <div class="row my-3">
    <div class="col-md-12">
      <h2>
        <app-version-title [version]="version"></app-version-title>
        <small *ngIf="version.current">Current Version</small>
      </h2>
      <hr>
    </div>
    <div class="col-md-12" *ngIf="!version.showNotes">
      <div class="alert alert-warning">
        Sorry, we haven't finished our work on version {{version.versionNumber}} yet!
      </div>
    </div>
    <div class="col-md-12" *ngIf="version.showNotes">
      <markdown [src]="infoPath"></markdown>
    </div>
    <div class="col-md-12" *ngIf="version.missingInfo">
      <hr>
      <markdown [src]="missingInfoMarkdownPath"></markdown>
    </div>
    <div class="col-md-12">
      <hr>
      <markdown [src]="disclaimerMarkdownPath"></markdown>
    </div>
  </div>
</ng-container>
